<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:cod) %>
    </h5>
  </div>
  <div class="card-body">
    <div class="custom-control custom-checkbox">
      <%= f.check_box :cod, class: 'custom-control-input' %>
      <%= f.label :cod, class: 'custom-control-label font-weight-semibold' %>
      <%= f.error_message_on :cod %>
    </div>
  </div>
</div>
